<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="SparkleConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\SparkleDataBase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <pages validateRequest="false" />
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" executionTimeout="100000" maxRequestLength="214748364" />
    </system.web>
  <system.net>
  <mailSettings>
    <smtp deliveryMethod="Network"
                from="sparklethetool@gmail.com">
      <network defaultCredentials="false" host="smtp.gmail.com" port="587"
                  userName="sparklethetool@gmail.com"  password="800sparkle809" />
    </smtp>
  </mailSettings>
  </system.net>
</configuration>
